* { 
	margin: 0; padding: 0
}

#playground { 
	width: 500;
	height: 300;
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
	border: 1px solid
}

h1{
	text-align: center;
}


#button{ 
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
	background-color: #3cb371;
	color: white;
	font-weight: bold;
}

#noRefresh {
	overflow-y: hidden;
}

#startPartie {
	position: absolute;
	width: 20%;
}
